BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: false
  BeforeElse: false
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Middle
SortIncludes: true
Standard: c++17
UseTab: Never
